<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/studentwork?autoReconnect=true&amp;useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="entities/Users.hbm.xml"/>
    <mapping resource="entities/StudentVolunteers.hbm.xml"/>
    <mapping resource="entities/StudentSkills.hbm.xml"/>
    <mapping resource="entities/StudentPosts.hbm.xml"/>
    <mapping resource="entities/StudentLanguages.hbm.xml"/>
    <mapping resource="entities/StudentInterests.hbm.xml"/>
    <mapping resource="entities/StudentAwards.hbm.xml"/>
    <mapping resource="entities/Feedbacks.hbm.xml"/>
    <mapping resource="entities/StudentProjects.hbm.xml"/>
    <mapping resource="entities/StudentBasic.hbm.xml"/>
    <mapping resource="entities/StudentExp.hbm.xml"/>
    <mapping resource="entities/StudentCertifications.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
