<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>studentwork</display-name>
	<context-param>
		<param-name>slogan</param-name>
		<param-value>&quot;Đừng để những đòi hỏi kinh nghiệm cản trở bạn khi mới ra trường&quot;</param-value>
	</context-param>
	<context-param>
		<param-name>indexTitle</param-name>
		<param-value>Student Work || Mạng xã hội việc làm dành cho sinh viên</param-value>
	</context-param>
	<context-param>
		<param-name>minLenghtFeedback</param-name>
		<param-value>30</param-value>
	</context-param>
	<context-param>
		<param-name>websiteName</param-name>
		<param-value>studentwork</param-value>
	</context-param>
	<servlet>
		<servlet-name>CommentController</servlet-name>
		<servlet-class>controllers.CommentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>controllers.AdminController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountController</servlet-name>
		<servlet-class>controllers.AccountController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AwardController</servlet-name>
		<servlet-class>controllers.AwardController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BasicInfoController</servlet-name>
		<servlet-class>controllers.BasicInfoController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CertificationController</servlet-name>
		<servlet-class>controllers.CertificationController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExperienceController</servlet-name>
		<servlet-class>controllers.ExperienceController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InterestController</servlet-name>
		<servlet-class>controllers.InterestController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LanguageController</servlet-name>
		<servlet-class>controllers.LanguageController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProjectController</servlet-name>
		<servlet-class>controllers.ProjectController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SkillController</servlet-name>
		<servlet-class>controllers.SkillController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudyingController</servlet-name>
		<servlet-class>controllers.StudyingController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EventController</servlet-name>
		<servlet-class>controllers.EventController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostController</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentController</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountController</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AwardController</servlet-name>
		<url-pattern>/award</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BasicInfoController</servlet-name>
		<url-pattern>/basicInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CertificationController</servlet-name>
		<url-pattern>/certification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExperienceController</servlet-name>
		<url-pattern>/experience</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InterestController</servlet-name>
		<url-pattern>/interest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LanguageController</servlet-name>
		<url-pattern>/language</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectController</servlet-name>
		<url-pattern>/project</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SkillController</servlet-name>
		<url-pattern>/skill</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudyingController</servlet-name>
		<url-pattern>/study</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EventController</servlet-name>
		<url-pattern>/event</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controllers.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>controllers.SignUpServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>controllers.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controllers.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>About</servlet-name>
		<servlet-class>controllers.AboutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContactUs</servlet-name>
		<jsp-file>/WEB-INF/jsp/contactus.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>PostController</servlet-name>
		<servlet-class>controllers.PostController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOnPage</servlet-name>
		<jsp-file>/WEB-INF/jsp/logOn.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>RelationshipController</servlet-name>
		<servlet-class>controllers.RelationshipController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VolunteerController</servlet-name>
		<servlet-class>controllers.VolunteerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>inbox</servlet-name>
		<jsp-file>/WEB-INF/jsp/inbox.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactUs</servlet-name>
		<url-pattern>/contactus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOnPage</servlet-name>
		<url-pattern>/logOn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RelationshipController</servlet-name>
		<url-pattern>/friend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VolunteerController</servlet-name>
		<url-pattern>/volunteer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>inbox</servlet-name>
		<url-pattern>/inbox</url-pattern>
	</servlet-mapping>
</web-app>